{% extends "layout.html" %}

{% block title %}Calculate{% endblock %}

{% block main %}
<br> <h1>Calculating Things</h1>
<h5 class="minihead">Notes</h5>
<p>Decimal = Base 10, Binary = Base 2, Hexadecimal = Base 16 <br>
The number <i>e</i>, 2.718... in decimal, must be typed in as E (it must be capitalized) in order to differentiate it from the character e. <br>
The inverse sin, cos, and tan functions (sin<sup>-1</sup>, cos<sup>-1</sup>, tan<sup>-1</sup>) must be represented as "sin-1", "cos-1", and "tan-1" respectively.</p>
<p><input id="base" placeholder="Base" type="number" style="width:60px" min="2" max="36"></p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
	<label class="btn btn-primary btn-sm active">
		<input type="radio" id="deg" checked>deg</input></label>
	<label class="btn btn-primary btn-sm">
		<input type="radio" id="rad">rad</input></label>
</div>
<div><input id="bar" placeholder="Put expression here" type="text"></div>
<div class="space">placeholder</div>
<div class="btn-group-vertical">
	<div class="btn-group">
		<button class="btn btn-info fixwid" id="sin">sin</button>
		<button class="btn btn-info fixwid" id="cos">cos</button>
		<button class="btn btn-info fixwid" id="tan">tan</button>
		<button class="btn btn-danger fixwid" id="clear">clear</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-info fixwid" id="arcsin">sin<sup>-1</sup></button>
		<button class="btn btn-info fixwid" id="arccos">cos<sup>-1</sup></button>
		<button class="btn btn-info fixwid" id="arctan">tan<sup>-1</sup></button>
		<button class="btn btn-danger fixwid" id="delete">delete</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-info fixwid" id="log10">log</button>
		<button class="btn btn-info fixwid" id="sqrt">&#8730;</button>
		<button class="btn btn-info fixwid" id="sqr">x<sup>2</sup></button>
		<button class="btn btn-warning fixwid" id="fac">!</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-info fixwid" id="ln">ln</button>
		<button class="btn btn-dark fixwid" id="spec_e"><i>e</i></button>
		<button class="btn btn-dark fixwid" id="pi">&#960;</button>
		<button class="btn btn-warning fixwid" id="pow">^</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-info fixwid" id="genlog">log<sub>b</sub></button>
		<button class="btn btn-secondary fixwid" id="op">(</button>
		<button class="btn btn-secondary fixwid" id="cl">)</button>
		<button class="btn btn-warning fixwid enhance" id="plus">+</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-dark fixwid" id="sev">7</button>
		<button class="btn btn-dark fixwid" id="eig">8</button>
		<button class="btn btn-dark fixwid" id="nine">9</button>
		<button class="btn btn-warning fixwid enhance" id="min">&#8722;</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-dark fixwid" id="four">4</button>
		<button class="btn btn-dark fixwid" id="five">5</button>
		<button class="btn btn-dark fixwid" id="six">6</button>
		<button class="btn btn-warning fixwid enhance" id="tim">&#215;</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-dark fixwid" id="one">1</button>
		<button class="btn btn-dark fixwid" id="two">2</button>
		<button class="btn btn-dark fixwid" id="thr">3</button>
		<button class="btn btn-warning fixwid enhance" id="div">&#247;</button>
	</div>
	<div class="btn-group">
		<button class="btn btn-secondary fixwid" id="dot">.</button>
		<button class="btn btn-dark fixwid" id="zero">0</button>
		<button class="btn btn-secondary fixwid" id="neg">(-)</button>
		<button class="btn btn-success fixwid" id="enter">enter</button>
	</div>
</div>
<div class="btn-group-vertical" id="letters">
	{% for num in range(0,24,4) %}
	<div class="btn-group">
		<button class="btn btn-dark fixwid" id={{letters[num]}}>{{letters[num]}}</button>
		<button class="btn btn-dark fixwid" id={{letters[num+1]}}>{{letters[num+1]}}</button>
		<button class="btn btn-dark fixwid" id={{letters[num+2]}}>{{letters[num+2]}}</button>
		<button class="btn btn-dark fixwid" id={{letters[num+3]}}>{{letters[num+3]}}</button>
	</div>
	{% endfor %}
	<div class="btn-group">
		<button class="btn btn-dark fixwid" id="y">y</button>
		<button class="btn btn-dark fixwid" id="z">z</button>
	</div>
</div> <br> <br>
{% endblock %}

{% block script %}
<script type="text/javascript" src="static/convert.js"></script>
<script>
	"use strict"; //strict mode
	/* the following adds a space between the keyboards
	if they cannot fit side-by-side */
	let added = false;
	let over = document.getElementById("over");
	function addSpace(){
		//this adds the space
		let space = document.createElement("div");
		let letters = document.getElementById("letters");
		space.setAttribute('id', "space");
		space.classList.add("space");
		space.innerHTML = "placeholder";
		over.insertBefore(space,letters);
		added = true;
	}
	if(window.innerWidth < 828){
		addSpace();
	}
	$(window).resize(function() {
		//when the window is resized, check if space should be added/removed
		if(window.innerWidth < 828 && !(added)){
			addSpace();
		} else if(window.innerWidth >= 828 && added) {
			let space = document.getElementById("space");
			over.removeChild(space);
			added = false;
	    }
	});
	function factorial(num){
		//return the factorial of a number
		if(num == 0){
			return 1;
		} else{
			return num * factorial(num-1);
		}
	}
	let base = document.getElementById("base"); //base input
	let bar = document.getElementById("bar"); //main input
	document.getElementById("clear").onclick = function(){
		//clear main input
		bar.value = "";
	}
	document.getElementById("delete").onclick = function(){
		//delete last character of input
		bar.value = bar.value.substring(0,bar.value.length-1);
	}
	function enter(){
		//this executes when the enter button is clicked or the enter key is pressed
		if(!(base.value)){
			//if the user forgets to set a base, make it 10
			base.value = 10;
		}
		if(base.value<2 || base.value>36){
			//make sure the user enters a valid base
			alert("Please enter a base between 2 and 36.");
		}
		let exp = bar.value;
		function replace(fir,sec){
			//replaces one value with another
			exp = exp.split(fir).join(sec);
		}
		//replace a bunch of stuff
		replace("^","**");
		replace("−","-");
		replace("π","Math.PI");
		replace("×","*");
		replace("÷","/");
		replace("√(","Math.sqrt(");
		replace("log(","Math.log10(");
		replace("ln(","Math.log(");
		replace("E","Math.E");
		let rad = document.getElementById("rad");
		if(rad.checked){
			//replace these when in mode is radians
			replace("sin(","Math.sin(");
			replace("cos(","Math.cos(");
			replace("tan(","Math.tan(");
			replace("sin-1(","Math.asin(");
			replace("cos-1(","Math.acos(");
			replace("tan-1(","Math.atan(");
		} else{
			//replace these when in mode is degrees
			replace("sin(","Math.sin((Math.PI/180)*");
			replace("cos(","Math.cos((Math.PI/180)*");
			replace("tan(","Math.tan((Math.PI/180)*");
			replace("sin-1(","(180/Math.PI)*Math.asin(");
			replace("cos-1(","(180/Math.PI)*Math.acos(");
			replace("tan-1(","(180/Math.PI)*Math.atan(");
		}
		function isNum(char){
			//determine if a character is part of a number
			return (char >= 48 && char <= 57) || char == 46;
		}
		function isLetter(char){
			//determine if a character is a lowercase letter
			return (char >= 97 && char <= 122);
		}
		function fact(inp){
			//replace something! with factorial(something)
			inp = inp.split("!");
			let end = inp[inp.length-1];
			inp.pop();
			for(let i=0; i<inp.length; i++){
				if(inp[i].substring(inp[i].length-1) == ")"){
					//if there are parentheses before !, act accordingly
					inp[i] = inp[i].substring(0,inp[i].lastIndexOf("(")) + "factorial(" + inp[i].substring(inp[i].lastIndexOf("(")+1);
				} else{
					//if no parentheses, just engulf number right before !
					let j = inp[i].length-1;
					while(true){
						if(isNum(inp[i].charCodeAt(j))){
							j--;
						} else {
							break;
						}
					}
					inp[i] = inp[i].substring(0,j+1) + "factorial(" + inp[i].substring(j+1) + ")";
				}
			}
			return inp.join("") + end;
		}
		function gLog(inp){
			//replace logb(something) with (Math.log(something)/Math.log(b))
			let startIndices = [];
			//find all instances (starting indices) of logb
			for(var i=0; i<inp.length-2; i++){
				if(inp.substring(i,i+3) == "log" && inp.substring(i-5,i) != "Math."){
					startIndices.push(i);
				}
			}
			if(startIndices.length == 0){
				//if there are no instances of logb, exit function
				return inp;
			}
			let final = ""; //the final string
			let j = 0; //iterates through through string
			let end; //the last index of the number
			for(let ind of startIndices){
				final += inp.substring(j,ind);
				let start = inp.indexOf("(",ind); //the first index of the number
				let k = start + 1;
				let brackets = 0;
				//set end to appropriate position
				while(true){
					if(inp.charAt(k) == ")" && brackets == 0){
						end = k;
						break;
					} else if(inp.charAt(k) == "("){
						brackets++;
					} else if(inp.charAt(k) == ")"){
						brackets--;
					}
					k++;
				}
				end = inp.indexOf(")",start); //adjust end to end bracket
				//add to final
				final += "(Math.log(" + inp.substring(start+1,end);
				final += ")/Math.log(" + inp.substring(ind+3,start);
				final += "))";
				j = end + 1;
			}
			final += inp.substring(end + 1,inp.length); //add end
			return final;
		}
		function calc(userInp){
			//calculations
			userInp = userInp.split(" ").join("");
			let extra = []; //contains all non-numbers
			let extraInd = 0;
			let nums = []; //contains all numbers
			let numsInd = 0;
			let numFirst = false;
			for(let i=0; i<userInp.length; i++){
				if(!(extra[extraInd])){
					//create a new non-number string
					extra[extraInd] = "";
				}
				if(!(nums[numsInd])){
					//create a new number
					nums[numsInd] = "";
				}
				function checkM(){
					//make sure Math... does not go into numbers list
					if(userInp.charAt(i) == "M"){
						while(userInp.charAt(i-1) != "."){
							extra[extraInd] += userInp.charAt(i);
							i++;
						}
						while(userInp.charAt(i-1) != "(" && userInp.charAt(i-1) != "I" && userInp.charAt(i-1) != "E"){
							extra[extraInd] += userInp.charAt(i);
							i++;
						}
						checkM();
					}
				}
				checkM();
				if(isNum(userInp.charCodeAt(i)) || isLetter(userInp.charCodeAt(i))){
					if(i == 0){
						numFirst = true;
					}
					if(extra[extraInd] != ""){
						//if it's a number, move to next non-number in list
						extraInd++;
					}
					nums[numsInd] += userInp.charAt(i);
				} else{
					if(nums[numsInd] != ""){
						//if it's a non-number, move to next number in list
						numsInd++;
					}
					extra[extraInd] += userInp.charAt(i);
				}
			}
			if(!(nums[nums.length-1])){
				nums.pop();
			}
			for(let j=0; j<nums.length; j++){
				//convert each number to base-10
				nums[j] = convertToDec(nums[j],base.value);
			}
			let final = "";
			let i;
			//put everything back together
			if(numFirst){
				for(i=0; i<extra.length; i++){
					final += nums[i] + extra[i];
				}
				if(nums[i]){
					final += nums[i];
				}
			} else{
				for(i=0; i<nums.length; i++){
					final += extra[i] + nums[i];
				}
				if(extra[i]){
					final += extra[i];
				}
			}
			//use the eval function to calculate (you can't hack in, I tried)
			final = eval(final);
			//convert answer back into original base
			final = final.toString(base.value);
			return final;
		}
		let okay = true;
		let open = 0;
		let close = 0;
		//check if all parentheses are closed
		for(let i=0; i<exp.length; i++){
			if(exp.charAt(i) == "("){
				open++;
			} else if(exp.charAt(i) == ")"){
				close++;
			}
		}
		if(open != close){
			//parentheses are not all closed
			alert("Please close all your parentheses");
			okay = false;
		}
		if(okay){
			//parentheses are all closed, and it's okay to run
			exp = fact(exp);
			exp = gLog(exp);
			bar.value = calc(exp);
			if(bar.value < 1e-15 && bar.value > 0){
				bar.value = 0;
			}
		}
	}
	document.getElementById("enter").onclick = enter;
	$(document).on("keydown",function(e){
		//check if enter key is pressed
		if(e.which == 13){
			bar.focus();
			enter();
		}
	});
	function simpBtns(id){
		//function for updating main input when a button is clicked
		let btn = document.getElementById(id);
		btn.onclick = function(){
			bar.value += btn.innerHTML;
		}
	}
	simpBtns("zero"); simpBtns("one"); simpBtns("two"); simpBtns("thr"); simpBtns("four");
	simpBtns("five"); simpBtns("six"); simpBtns("sev"); simpBtns("eig"); simpBtns("nine");
	for(let i=0; i<26; i++){
		simpBtns(String.fromCharCode(i+97));
	}
	simpBtns("fac"); simpBtns("pow"); simpBtns("plus"); simpBtns("min"); simpBtns("tim");
	simpBtns("div"); simpBtns("dot"); simpBtns("pi"); simpBtns("op"); simpBtns("cl");
	function compBtns(id,disp=""){
		//function for updating main input when a button is clicked
		let btn = document.getElementById(id);
		btn.onclick = function(){
			bar.value += disp;
		}
	}
	function sqr(){
		//update main input when square button is clicked
		document.getElementById("sqr").onclick = function(){
			//if the base is 2, then 2 is represented by 10
			if(base.value == 2){
				bar.value += "^10";
			} else {
				bar.value += "^2";
			}
		}
	}
	function genLog(){
		//prompt user and update main input when logb button is clicked
		document.getElementById("genlog").onclick = function(){
			bar.value += "log"+prompt("What base?")+"(";
		}
	}
	compBtns("neg","-"); compBtns("sin","sin("); compBtns("cos","cos(");
	compBtns("tan","tan("); compBtns("log10","log("); compBtns("ln","ln(");
	compBtns("sqrt",String.fromCharCode(8730)+"("); compBtns("spec_e","E");
	compBtns("arcsin","sin-1("); compBtns("arccos","cos-1("); compBtns("arctan","tan-1(");
	sqr();
	genLog();
</script>
{% endblock %}
